.buttons {
    text-align: center;
    margin: 20px;
      
    display: flex;
    flex-wrap: wrap;
}


   

    .box {
        width: 4rem;
        height: 4rem;
        margin: 10px;
        text-align: center;
        cursor: pointer;
    }